<!-- src/views/rate.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/output.css" rel="stylesheet">
  <title>Rate Doctor</title>
</head>
<body class="bg-gray-100">
  <nav class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between">
      <a href="/" class="text-lg font-bold">Home</a>
      <div class="space-x-4">
        <a href="/" class="text-lg">CS</a>
        <a href="/" class="text-lg">IT</a>
        <a href="/" class="text-lg">COE</a>
      </div>
    </div>
  </nav>
  <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold">Rate Doctor</h1>
    <form id="rateForm" class="mt-4">
      <input type="hidden" id="subject_code" name="subject_code">
      <div class="mb-4">
        <label for="student_name" class="block text-sm font-medium">Name</label>
        <input type="text" id="student_name" name="student_name" class="mt-1 p-2 border w-full" required>
      </div>
      <div class="mb-4">
        <label for="student_number" class="block text-sm font-medium">Student Number</label>
        <input type="text" id="student_number" name="student_number" class="mt-1 p-2 border w-full" required pattern="\d{9}" title="ادخل رقم الطالب بشكل صحيح" >
      </div>
      <div class="mb-4">
        <label for="comment" class="block text-sm font-medium">Comment</label>
        <textarea id="comment" name="comment" class="mt-1 p-2 border w-full" required></textarea>
      </div>
      <div class="mb-4">
        <label for="rating" class="block text-sm font-medium">Rating</label>
        <select id="rating" name="rating" class="mt-1 p-2 border w-full" required>
          <option value="" disabled selected>Rate from 5</option>
          <option value="1">1 - سيئ</option>
          <option value="2">2 - عادي</option>
          <option value="3">3 - كويس</option>
          <option value="4">4 - ممتاز</option>
          <option value="5">5 - اسطورري</option>
        </select>
        <p class="text-red-700 text-sm">تقييم 5 هو الافضل و 1 هو الاسوء</p>
      </div>
      
      <button type="submit" class="bg-blue-500 text-white px-4 py-2">Submit</button>
    </form>
  </div>
  <script src="/scripts/rate.js"></script>
</body>
</html>
