<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/output.css" rel="stylesheet">
  <link href="/styles/animation.css" rel="stylesheet">
  <title>Rate Doctor</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .content {
      flex: 1;
    }
    
  </style>
</head>
<body class="bg-gray-100">
  <!-- navgation bar -->
  <nav class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between">
      <a href="/" class="text-lg font-bold">تقييم الدكاترة</a>
      <div class="space-x-4">
        <a href="/rating" class="text-lg">CS</a>
        <a href="/rating" class="text-lg">IT</a>
        <a href="/rating" class="text-lg">COE</a>
      </div>
    </div>
  </nav>
  <!-- end navgatio -->
  <div class="container mx-auto p-4 content">
    <div style="direction: rtl;">

      <h1 class="text-2xl font-bold" id="subject_name"></h1>
      <h2 class="text-xl" id="subject_code"></h2>
    </div>

    <form id="rateForm" class="mt-4" style="direction: rtl;">
      <input type="hidden" id="subject_code_input" name="subject_code">
      <input type="hidden" id="gender" name="gender"> <!-- Hidden input for gender -->
      <div class="mb-4">
        <label for="student_name" class="block text-sm font-medium">الاسم:</label>
        <input type="text" id="student_name" name="student_name" placeholder="مثلا: فلان الفلاني..." class="mt-1 p-2 border w-full" required>
      </div>
      <div class="mb-4">
        <label for="student_number" class="block text-sm font-medium">رقم الطالب الجامعي:</label>
        <input type="text" id="student_number" name="student_number" placeholder=" مثلا: 123456789" class="mt-1 p-2 border w-full" required pattern="\d{9}" title="ادخل رقم الطالب بشكل صحيح" >
      </div>
      <div class="mb-4">
        <label for="comment" class="block text-sm font-medium" >تعليقك:</label>
        <textarea id="comment"  name="comment" class="mt-1 p-2 border w-full h-44"  placeholder="مثلا:دكتور جيد ومتعاون..." required></textarea>
      </div>
      <div class="mb-12">
        <label for="rating" class="block text-sm font-medium">التقييم:</label>
        <select id="rating" name="rating" class="mt-1 p-2 border w-full" required>
          <option value="" disabled selected>قيم من 5</option>
          <option value="1">1 - سيئ</option>
          <option value="2">2 - عادي</option>
          <option value="3">3 - كويس</option>
          <option value="4">4 - ممتاز</option>
          <option value="5">5 - اسطورري</option>
        </select>
        <p class="text-red-700 text-sm mt-2">تقييم 5 هو الافضل و 1 هو الاسوء</p>
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2">Submit</button>
    </form>
  </div>
  <!-- animation -->
<div id="loading" class=" hidden">
  <div class="spinner"></div>
</div>
 <!-- Footer -->
 <footer class="bg-blue-500 text-white py-4">
  <div class="container mx-auto text-center">
    <p class="mb-4 mx-2.5 font-bold text-xl">Hello, I am Ace, a web developer. Say hello to me!</p>
  </div>
  <script src="/scripts/rate.js"></script>
</body>
</html>
